.bodycolor {
    background-color: floralwhite;
}

.headertitle {
    text-align: center;
    color: coral;
    text-shadow: 3px 2px 2px cornflowerblue;
    font-size: xxx-large;
}

.introductions {
    background-color: coral;
}